spec = Gem::Specification.new do |s|
  s.name = 'tinkerforge'
  s.version = '<<VERSION>>'
  s.summary = 'Ruby API Bindings for Tinkerforge Bricks and Bricklets'
  s.files = Dir['lib/*.rb'] + Dir['lib/tinkerforge/*.rb']
  s.has_rdoc = true
  s.rdoc_options << '--title' << 'Tinkerforge'
  s.required_ruby_version = '>= 1.9.0'
  s.license = 'CC0-1.0'
  s.author = 'Matthias Bolte'
  s.email = 'matthias@tinkerforge.com'
  s.homepage = 'https://www.tinkerforge.com/'
end
