Source: tinkerforge-javascript-bindings
Section: javascript
Priority: optional
Maintainer: Matthias Bolte <matthias@tinkerforge.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.3
Homepage: https://www.tinkerforge.com/

Package: node-tinkerforge
Architecture: all
Depends: nodejs, ${misc:Depends}
Description: Tinkerforge JavaScript API Bindings
 The JavaScript API bindings allow you to control Tinkerforge Bricks and
 Bricklets from your JavaScript programs.
