*.pyc
*.zip
*/tinkerforge_*
device_identifiers.py
c/bindings/
c/doc/
csharp/bindings/
csharp/doc/
delphi/bindings/
delphi/doc/
java/bindings/
java/doc/
modbus/doc/
php/bindings/
php/doc/
python/bindings/
python/doc/
ruby/bindings/
ruby/doc/
shell/bindings/
shell/doc/
tcpip/doc/
vbnet/bindings/
vbnet/doc/
