*~
*.pyc
*.zip
*.project
*.pydevproject
*.swp
*.class
.settings/*
*/tinkerforge_*/
*/bindings/
*/bindings_*/
*/doc/
*/doc_*/
openhab/beta/doc/
openhab/openhab2-addons/
openhab/*.jar
*/*_package/
stubs/comcu/
stubs/tng/
stubs/doc/
device_infos.py
csharp/tinkerforge.*.nupkg
delphi/*.o
delphi/*.ppu
javascript/Tinkerforge.js
javascript/tinkerforge-*.tgz
perl/Tinkerforge-*.tar.gz
ruby/tinkerforge-*.gem
tvpl/build_deploy_tvpl.py
*.sublime-project
*.sublime-workspace
.vscode/*
*tinkerforge*_all.deb
*/zip/
*/zip_*/
