html, body {
  width : 100%;
  height: 100%;
  margin: auto;
}

.demo-layout-waterfall
.mdl-layout__header-row
.mdl-navigation__link:last-of-type {
  padding-right: 0;
}

#blocklyDiv {
  position: absolute;
}

#blocklyArea {
  width : 100%;
  height: 100%;
}

#divGUIEditor {
  width     : 100%;
  height    : 93vh;
  overflow-y: scroll;
}

#iframeProgramEditor {
  width     : 100vw;
  height    : 93vh;
  overflow-y: scroll;
}

#divMdlCellProgramEditor
#divMdlCellButtonsRunClearConsole,
#divMdlCellButtonsGUIEditorRenderGUI {
  text-align: center;
}

#inputFileProjectFileUpload {
  display: none;
}

#textareaProgramExecutionConsole {
  width           : 100%;
  color           : black;
  height          : 80vh;
  resize          : none;
  border          : solid 1px #A4A4A4;
  font-size       : 15px;
  background-color: #A4A4A4;
}

