[Unit]
Description=<<CONFIG_NAME_SPACE>> MQTT API Bindings

# Enable if brickd is running locally
#After=brickd.service

# Enable if mosquitto is running locally
#After=mosquitto.service

[Service]
ExecStart=/usr/local/bin/<<CONFIG_NAME_UNDER>>

[Install]
WantedBy=multi-user.target
