[Unit]
Description=<<CONFIGURATION_NAME_CAMEL>> MQTT API Bindings

# Enable if brickd is running locally
#After=brickd.service

# Enable if mosquitto is running locally
#After=mosquitto.service

[Service]
ExecStart=/usr/local/bin/<<CONFIGURATION_NAME_UNDER>>

[Install]
WantedBy=multi-user.target
