{
  "version": "{{version}}",
  "apiVersion": "1.0.0",
  "author": "Erik Fleckstein <erik@tinkerforge.com>",
  "description": "Tinkerforge SPITFP high level analyzer.",
  "name": "SPITFP",
  "extensions": {
    "SPITFP": {
      "type": "HighLevelAnalyzer",
      "entryPoint": "HighLevelAnalyzer.Hla"
    }
  }
}
