Source: tinkerforge-python-bindings
Section: python
Priority: optional
Maintainer: Matthias Bolte <matthias@tinkerforge.com>
Build-Depends: debhelper (>= 10), dh-python, python3, python3-setuptools
Standards-Version: 4.1.2
Homepage: https://www.tinkerforge.com/

Package: python3-tinkerforge
Architecture: all
# FIXME: should depend on ${python3:Depends} here, but don't want to leak
#        specific build system details into the package
Depends: python3, ${misc:Depends}
Description: Tinkerforge Python API Bindings (Python 3)
 The Python API bindings allow you to control Tinkerforge Bricks and Bricklets
 from your Python programs.
 .
 This package installs the library for Python 3.
