#!/usr/bin/env python

from distutils.core import setup

setup(name='tinkerforge',
      version='<<VERSION>>',
      description='Python API Bindings for Tinkerforge Bricks and Bricklets',
      license='CC0 1.0 Universal',
      author='Tinkerforge GmbH',
      author_email='olaf@tinkerforge.com',
      url='http://www.tinkerforge.com',
      packages=['tinkerforge'],
      platforms = ('Any'))
