This archive contains the distribution of Tinkerforge API Bindings (<<VERSION>>):

  API support for all Tinkerforge Bricks and Bricklets

This software is copyright (c) 2014 by Ishraq Ibne Ashraf.

Redistribution and use in source and binary forms of this distribution,
with or without modification, are permitted. See the Creative Commons
Zero (CC0 1.0) License for more details.
